In [5]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')

In [6]:
df = pd.read_excel('../data/RETAIL.xlsx',sheet_name='워크시트 익스포트')
df

,RETAIL_CODE,RETAIL_NAME,STD_DAY,CATE_CODE,GU,GU_CODE,DONG,DONG_CODE,ADD_STROLD,LAT,LON,SI_DO_CODE,SI_DO
0,582,세운스퀘어,2022-11-01,C114,종로구,11010,인의동,1111015700,서울특별시 종로구 창경궁로 109 (인의동),126.997086,37.572349,11,서울특별시
1,583,효성주얼리시티,2022-11-01,C114,종로구,11010,인의동,1111015700,서울특별시 종로구 종로 183 (인의동 효성주얼리시티),126.998320,37.571448,11,서울특별시
2,1220,세운스퀘어,2022-11-01,C114,종로구,11010,인의동,1111015700,서울특별시 종로구 창경궁로 109 (인의동),126.997086,37.572349,11,서울특별시
3,1221,효성주얼리시티,2022-11-01,C114,종로구,11010,인의동,1111015700,서울특별시 종로구 종로 183 (인의동 효성주얼리시티),126.998320,37.571448,11,서울특별시
4,620,진솔물산,2022-11-01,C114,강남구,11230,역삼동,1168010100,서울특별시 강남구 역삼동 826번지 14호,NaN,NaN,11,서울특별시
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,223,GS THE FRESH 광진구의점,2022-11-01,C114,광진구,11050,구의동,1121510300,서울특별시 광진구 자양로 168 102호 (구의동 광진 더프레236),127.084605,37.542636,11,서울특별시
1272,674,홈플러스(주) 익프스레스 금호2점,2022-11-01,C114,성동구,11040,금호동3가,1120011100,서울특별시 성동구 동호로 100 (금호동3가),127.016414,37.551325,11,서울특별시
1273,675,금남시장,2022-11-01,C114,성동구,11040,금호동3가,1120011100,서울특별시 성동구 독서당로 303-11 (금호동3가),127.022730,37.548554,11,서울특별시
1274,853,롯데쇼핑(주)롯데마트 강변점,2022-11-01,C114,광진구,11050,구의동,1121510300,서울특별시 광진구 광나루로56길 85 (구의동),127.095692,37.535725,11,서울특별시
1275,854,홈플러스익스프레스 구의2점,2022-11-01,C114,광진구,11050,구의동,1121510300,서울특별시 광진구 아차산로 473 (구의동),127.094283,37.540519,11,서울특별시

In [7]:
tmp_df = df[['RETAIL_NAME','DONG_CODE']]
tmp_df

             RETAIL_NAME   DONG_CODE
0                  세운스퀘어  1111015700
1                효성주얼리시티  1111015700
2                  세운스퀘어  1111015700
3                효성주얼리시티  1111015700
4                   진솔물산  1168010100
...                  ...         ...
1271  GS THE FRESH 광진구의점  1121510300
1272  홈플러스(주) 익프스레스 금호2점  1120011100
1273                금남시장  1120011100
1274     롯데쇼핑(주)롯데마트 강변점  1121510300
1275      홈플러스익스프레스 구의2점  1121510300

[1276 rows x 2 columns]

In [8]:
std = pd.read_excel('../data/한국행정구역분류_2022.10.1.기준_20221006123917.xlsx',sheet_name='행정동 및 법정동코드와의 연계표')
std.columns = std.loc[0]
std = std[1:]
std_seoul = std[std['시도'] == '서울특별시']
std_df = std_seoul[['시군구','행정동\n(행정기관명)','법정동','행정기관코드','법정동코드','법정동 관할구역\n분할여부']][1:]
std_df.columns = ['시군구','행정동','법정동','행정기관코드','법정동코드','분할여부']
std_df

     시군구    행정동  법정동      행정기관코드       법정동코드  분할여부
2    종로구    종로구  종로구  1111000000  1111000000   NaN
3    종로구  청운효자동  청운동  1111051500  1111010100   NaN
4    종로구  청운효자동  신교동  1111051500  1111010200   NaN
5    종로구  청운효자동  궁정동  1111051500  1111010300   NaN
6    종로구  청운효자동  효자동  1111051500  1111010400   NaN
..   ...    ...  ...         ...         ...   ...
763  강동구  성내제2동  성내동  1174065000  1174010800  분할연계
764  강동구  성내제3동  성내동  1174066000  1174010800  분할연계
765  강동구     길동   길동  1174068500  1174010500   NaN
766  강동구  둔촌제1동  둔촌동  1174069000  1174010600  분할연계
767  강동구  둔촌제2동  둔촌동  1174070000  1174010600  분할연계

[766 rows x 6 columns]

In [10]:
data = tmp_df['DONG_CODE'].value_counts()

In [11]:
x = pd.DataFrame(data)
x.rename(columns={'DONG_CODE':'RETAIL_NUM'},inplace=True)
x['DONG_CODE'] = x.index
x.index = range(len(x))
x

     RETAIL_NUM   DONG_CODE
0            40  1114016200
1            32  1153010200
2            26  1162010100
3            22  1129013400
4            20  1130510100
..          ...         ...
195           2  1114010900
196           2  1117011200
197           2  1114013200
198           2  1120010500
199           2  1120011300

[200 rows x 2 columns]

In [12]:
df = pd.read_csv('../data/법정동_1029.csv')
pd.set_option('display.max_columns',33)
df.rename(columns={'Unnamed: 0':'index'},inplace=True)
df.set_index('index',inplace=True)
df

,SI_DO,GU,DONG_CODE,DONG,SUBWAY_NUM,STARBUCKS_NUM,SPORT_NUM,SAFE_DLVR_NUM,POLICE_NUM,PHARM_NUM,NOISE_VIBRATION_NUM,MID_SCH_NUM,MC_NUM,LEISURE_NUM,KINDER_NUM,KIDS_NUM,HOSPITAL_NUM,HIGH_SCH_NUM,GYM_NUM,GOLF_NUM,FIRE_NUM,ELE_SCH_NUM,DPTM_NUM,CON_NUM,CHILD_MED_NUM,CCTV_NUM,CAR_SHR_NUM,CAFE_NUM,BUS_NUM,BIKE_NUM,ANI_HSPT_NUM,ACADEMY_NUM,STD_DAY
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,서울특별시,종로구,1111010100,청운동,0,0,0,0,0,0,2016,1,0,0,0,0,0,2,0,0,0,2,0,2,0,12,0,8,3,2,0,2,2022-10-28
1,서울특별시,종로구,1111010200,신교동,0,0,0,0,0,0,2016,0,0,0,0,0,2,0,0,0,1,0,0,0,0,14,0,1,0,0,1,5,2022-10-28
2,서울특별시,종로구,1111010300,궁정동,0,0,0,0,1,0,2016,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,2022-10-28
3,서울특별시,종로구,1111010400,효자동,0,0,0,0,0,0,2016,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,0,1,0,0,2022-10-28
4,서울특별시,종로구,1111010500,창성동,0,0,0,0,0,1,2016,0,0,0,0,0,3,0,0,0,0,0,0,2,2,0,0,3,1,1,0,1,2022-10-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,서울특별시,강동구,1174010700,암사동,1,1,0,2,1,22,4327,2,0,1,30,4,90,1,16,8,1,6,0,66,11,133,4,70,11,11,5,197,2022-10-28
463,서울특별시,강동구,1174010900,천호동,3,4,0,3,1,51,4327,4,1,13,70,6,199,1,14,7,1,6,1,136,12,266,17,131,32,15,4,124,2022-10-28
464,서울특별시,강동구,1174010800,성내동,1,4,0,2,1,38,4327,1,0,5,50,2,180,0,30,14,3,4,0,116,12,156,20,143,33,18,8,190,2022-10-28
465,서울특별시,강동구,1174010500,길동,1,2,0,1,0,35,4327,1,0,3,20,1,120,0,18,9,1,6,0,76,10,119,10,63,22,9,8,100,2022-10-28
466,서울특별시,강동구,1174010600,둔촌동,1,0,0,0,2,20,4327,3,1,0,0,0,29,2,8,6,0,4,0,34,0,65,4,35,14,11,3,76,2022-10-28

In [13]:
copy_df = df.copy()

In [14]:
merge = pd.merge(copy_df,x, how='outer',on='DONG_CODE')
pd.set_option('display.max_columns',35)
merge

,SI_DO,GU,DONG_CODE,DONG,SUBWAY_NUM,STARBUCKS_NUM,SPORT_NUM,SAFE_DLVR_NUM,POLICE_NUM,PHARM_NUM,NOISE_VIBRATION_NUM,MID_SCH_NUM,MC_NUM,LEISURE_NUM,KINDER_NUM,KIDS_NUM,HOSPITAL_NUM,HIGH_SCH_NUM,GYM_NUM,GOLF_NUM,FIRE_NUM,ELE_SCH_NUM,DPTM_NUM,CON_NUM,CHILD_MED_NUM,CCTV_NUM,CAR_SHR_NUM,CAFE_NUM,BUS_NUM,BIKE_NUM,ANI_HSPT_NUM,ACADEMY_NUM,STD_DAY,RETAIL_NUM
0,서울특별시,종로구,1111010100,청운동,0,0,0,0,0,0,2016,1,0,0,0,0,0,2,0,0,0,2,0,2,0,12,0,8,3,2,0,2,2022-10-28,NaN
1,서울특별시,종로구,1111010200,신교동,0,0,0,0,0,0,2016,0,0,0,0,0,2,0,0,0,1,0,0,0,0,14,0,1,0,0,1,5,2022-10-28,NaN
2,서울특별시,종로구,1111010300,궁정동,0,0,0,0,1,0,2016,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,2022-10-28,NaN
3,서울특별시,종로구,1111010400,효자동,0,0,0,0,0,0,2016,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,0,1,0,0,2022-10-28,NaN
4,서울특별시,종로구,1111010500,창성동,0,0,0,0,0,1,2016,0,0,0,0,0,3,0,0,0,0,0,0,2,2,0,0,3,1,1,0,1,2022-10-28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,서울특별시,강동구,1174010700,암사동,1,1,0,2,1,22,4327,2,0,1,30,4,90,1,16,8,1,6,0,66,11,133,4,70,11,11,5,197,2022-10-28,6.0
463,서울특별시,강동구,1174010900,천호동,3,4,0,3,1,51,4327,4,1,13,70,6,199,1,14,7,1,6,1,136,12,266,17,131,32,15,4,124,2022-10-28,8.0
464,서울특별시,강동구,1174010800,성내동,1,4,0,2,1,38,4327,1,0,5,50,2,180,0,30,14,3,4,0,116,12,156,20,143,33,18,8,190,2022-10-28,10.0
465,서울특별시,강동구,1174010500,길동,1,2,0,1,0,35,4327,1,0,3,20,1,120,0,18,9,1,6,0,76,10,119,10,63,22,9,8,100,2022-10-28,8.0
466,서울특별시,강동구,1174010600,둔촌동,1,0,0,0,2,20,4327,3,1,0,0,0,29,2,8,6,0,4,0,34,0,65,4,35,14,11,3,76,2022-10-28,NaN

In [15]:
df = merge.fillna(0)
df

,SI_DO,GU,DONG_CODE,DONG,SUBWAY_NUM,STARBUCKS_NUM,SPORT_NUM,SAFE_DLVR_NUM,POLICE_NUM,PHARM_NUM,NOISE_VIBRATION_NUM,MID_SCH_NUM,MC_NUM,LEISURE_NUM,KINDER_NUM,KIDS_NUM,HOSPITAL_NUM,HIGH_SCH_NUM,GYM_NUM,GOLF_NUM,FIRE_NUM,ELE_SCH_NUM,DPTM_NUM,CON_NUM,CHILD_MED_NUM,CCTV_NUM,CAR_SHR_NUM,CAFE_NUM,BUS_NUM,BIKE_NUM,ANI_HSPT_NUM,ACADEMY_NUM,STD_DAY,RETAIL_NUM
0,서울특별시,종로구,1111010100,청운동,0,0,0,0,0,0,2016,1,0,0,0,0,0,2,0,0,0,2,0,2,0,12,0,8,3,2,0,2,2022-10-28,0.0
1,서울특별시,종로구,1111010200,신교동,0,0,0,0,0,0,2016,0,0,0,0,0,2,0,0,0,1,0,0,0,0,14,0,1,0,0,1,5,2022-10-28,0.0
2,서울특별시,종로구,1111010300,궁정동,0,0,0,0,1,0,2016,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,2022-10-28,0.0
3,서울특별시,종로구,1111010400,효자동,0,0,0,0,0,0,2016,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,0,1,0,0,2022-10-28,0.0
4,서울특별시,종로구,1111010500,창성동,0,0,0,0,0,1,2016,0,0,0,0,0,3,0,0,0,0,0,0,2,2,0,0,3,1,1,0,1,2022-10-28,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,서울특별시,강동구,1174010700,암사동,1,1,0,2,1,22,4327,2,0,1,30,4,90,1,16,8,1,6,0,66,11,133,4,70,11,11,5,197,2022-10-28,6.0
463,서울특별시,강동구,1174010900,천호동,3,4,0,3,1,51,4327,4,1,13,70,6,199,1,14,7,1,6,1,136,12,266,17,131,32,15,4,124,2022-10-28,8.0
464,서울특별시,강동구,1174010800,성내동,1,4,0,2,1,38,4327,1,0,5,50,2,180,0,30,14,3,4,0,116,12,156,20,143,33,18,8,190,2022-10-28,10.0
465,서울특별시,강동구,1174010500,길동,1,2,0,1,0,35,4327,1,0,3,20,1,120,0,18,9,1,6,0,76,10,119,10,63,22,9,8,100,2022-10-28,8.0
466,서울특별시,강동구,1174010600,둔촌동,1,0,0,0,2,20,4327,3,1,0,0,0,29,2,8,6,0,4,0,34,0,65,4,35,14,11,3,76,2022-10-28,0.0

In [16]:
def dong_change(df):
    sample_df = df
    sample_df.drop('STD_DAY',axis=1,inplace=True)

    change_df = pd.read_excel('행정구역분류.xlsx',header=1)

    seoul_df = change_df[change_df['시도']=='서울특별시']
    seoul_df = seoul_df[seoul_df['행정구역명'].str[-1] =='동']
    seoul_df = seoul_df[['시군구','행정구역명','법정동','법정동코드','행정기관코드','법정동 관할구역\n분할여부']]
    seoul_df.columns = ['GU','DONG','법정동','DONG_CODE','행정기관코드','분할여부']
    non_div = seoul_df[seoul_df['분할여부'].isnull()][['GU','DONG','DONG_CODE','행정기관코드']]

    remove_du = non_div.drop_duplicates(['행정기관코드'])

    tmp_sample_df = sample_df.drop(['GU','DONG'],axis=1)
    con_df1 = pd.merge(tmp_sample_df,non_div,on="DONG_CODE")

    non_div_result = con_df1.groupby('행정기관코드').sum()
    non_div_result = non_div_result.drop(['DONG_CODE'],axis=1)

    non_div_result = pd.merge(non_div_result, remove_du,right_on='행정기관코드',left_index=True)
    non_div_result.drop('DONG_CODE',inplace=True,axis=1)

    non_div_result.rename(columns = {'행정기관코드':'DONG_CODE'},inplace=True)

    div_df = seoul_df[seoul_df['분할여부']=='분할연계'][['GU','DONG','DONG_CODE','행정기관코드']]

    div_dong_count = div_df.groupby('DONG_CODE').count()[['행정기관코드']]
    div_dong_count.columns = ['DONG_COUNT']

    con_df2 = pd.merge(sample_df, div_dong_count,left_on='DONG_CODE',right_index=True)
    con_df2.set_index('DONG_CODE',inplace=True)

    con_df2 = con_df2.iloc[:,3:]
    cal_df = con_df2.div(con_df2['DONG_COUNT'], axis=0) 
    div_result_df = pd.merge(div_df,cal_df,left_on='DONG_CODE',right_index=True)
    div_result_df = div_result_df.drop(['DONG_CODE','DONG_COUNT'],axis=1)
    div_result_df.rename(columns = {'행정기관코드':'DONG_CODE'},inplace=True)

    non_div_result = non_div_result[div_result_df.columns]
    result_df = pd.concat([non_div_result, div_result_df],axis=0)
    result_sum = result_df.groupby('DONG_CODE').sum()
    
    remove_result_du =result_df.drop_duplicates(['DONG_CODE'])[['GU','DONG','DONG_CODE']]
    result_df2 = pd.merge(result_sum, remove_result_du,right_on='DONG_CODE',left_index=True)

    return result_df2

In [17]:
change_df = dong_change(df)
change_df

,SUBWAY_NUM,STARBUCKS_NUM,SPORT_NUM,SAFE_DLVR_NUM,POLICE_NUM,PHARM_NUM,NOISE_VIBRATION_NUM,MID_SCH_NUM,MC_NUM,LEISURE_NUM,KINDER_NUM,KIDS_NUM,HOSPITAL_NUM,HIGH_SCH_NUM,GYM_NUM,GOLF_NUM,FIRE_NUM,ELE_SCH_NUM,DPTM_NUM,CON_NUM,CHILD_MED_NUM,CCTV_NUM,CAR_SHR_NUM,CAFE_NUM,BUS_NUM,BIKE_NUM,ANI_HSPT_NUM,ACADEMY_NUM,RETAIL_NUM,GU,DONG,DONG_CODE
2,0.333333,0.333333,0.0,1.000000,2.000000,4.333333,18816.000000,2.000000,0.0,1.000000,0.000000,0.000000,11.666667,3.0,0.0,0.000000,1.0,2.000000,0.0,4.000000,7.333333,56.666667,1.000000,39.666667,11.666667,5.666667,2.000000,18.000000,0.000000,종로구,청운효자동,1111051500
12,1.333333,7.333333,0.0,0.000000,3.000000,17.333333,22848.000000,0.000000,0.0,1.000000,10.000000,0.000000,74.666667,0.0,18.0,3.000000,0.0,2.000000,0.0,20.000000,10.333333,41.666667,5.000000,100.666667,18.666667,11.666667,1.000000,19.000000,2.000000,종로구,사직동,1111053000
24,1.000000,1.000000,1.0,0.000000,1.000000,2.000000,14112.000000,1.000000,0.0,0.000000,10.000000,0.000000,7.000000,1.0,3.0,0.000000,0.0,0.000000,0.0,2.000000,1.000000,22.000000,1.000000,52.000000,8.000000,7.000000,0.000000,2.000000,0.000000,종로구,삼청동,1111054000
31,0.000000,0.000000,0.0,0.000000,1.000000,1.000000,6048.000000,1.000000,0.0,0.000000,0.000000,0.000000,4.000000,1.0,2.0,2.000000,1.0,4.000000,0.0,8.000000,5.000000,41.000000,5.000000,30.000000,18.000000,5.000000,3.000000,24.000000,0.000000,종로구,부암동,1111055000
34,0.000000,1.000000,0.0,0.000000,1.000000,5.000000,4032.000000,0.000000,0.0,0.000000,0.000000,0.000000,14.000000,1.0,5.0,5.000000,0.0,0.000000,0.0,6.000000,10.000000,21.000000,0.000000,36.000000,25.000000,7.000000,0.000000,28.000000,0.000000,종로구,평창동,1111056000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,0.333333,1.333333,0.0,0.666667,0.333333,12.666667,1442.333333,0.333333,0.0,1.666667,16.666667,0.666667,60.000000,0.0,10.0,4.666667,1.0,1.333333,0.0,38.666667,4.000000,52.000000,6.666667,47.666667,11.000000,6.000000,2.666667,63.333333,3.333333,강동구,성내2동,1174065000
763,0.333333,1.333333,0.0,0.666667,0.333333,12.666667,1442.333333,0.333333,0.0,1.666667,16.666667,0.666667,60.000000,0.0,10.0,4.666667,1.0,1.333333,0.0,38.666667,4.000000,52.000000,6.666667,47.666667,11.000000,6.000000,2.666667,63.333333,3.333333,강동구,성내3동,1174066000
764,1.000000,2.000000,0.0,1.000000,0.000000,35.000000,4327.000000,1.000000,0.0,3.000000,20.000000,1.000000,120.000000,0.0,18.0,9.000000,1.0,6.000000,0.0,76.000000,10.000000,119.000000,10.000000,63.000000,22.000000,9.000000,8.000000,100.000000,8.000000,강동구,길동,1174068500
765,0.500000,0.000000,0.0,0.000000,1.000000,10.000000,2163.500000,1.500000,0.5,0.000000,0.000000,0.000000,14.500000,1.0,4.0,3.000000,0.0,2.000000,0.0,17.000000,0.000000,32.500000,2.000000,17.500000,7.000000,5.500000,1.500000,38.000000,0.000000,강동구,둔촌1동,1174069000
766,0.500000,0.000000,0.0,0.000000,1.000000,10.000000,2163.500000,1.500000,0.5,0.000000,0.000000,0.000000,14.500000,1.0,4.0,3.000000,0.0,2.000000,0.0,17.000000,0.000000,32.500000,2.000000,17.500000,7.000000,5.500000,1.500000,38.000000,0.000000,강동구,둔촌2동,1174070000

In [26]:
def add_bus_data(df):
    df.drop('BUS_NUM',axis=1,inplace=True)
    copy_df = df.copy()
    copy_df['GU_DONG'] = copy_df['GU'] + copy_df['DONG']
    
    bus_df = pd.read_csv('동별_버스정보_수정.csv')
    merge_df = pd.merge(copy_df, bus_df)
    merge_df.drop('GU_DONG',axis=1,inplace=True)
    
    return merge_df

In [27]:
final_df = add_bus_data(change_df)
final_df

,SUBWAY_NUM,STARBUCKS_NUM,SPORT_NUM,SAFE_DLVR_NUM,POLICE_NUM,PHARM_NUM,NOISE_VIBRATION_NUM,MID_SCH_NUM,MC_NUM,LEISURE_NUM,KINDER_NUM,KIDS_NUM,HOSPITAL_NUM,HIGH_SCH_NUM,GYM_NUM,GOLF_NUM,FIRE_NUM,ELE_SCH_NUM,DPTM_NUM,CON_NUM,CHILD_MED_NUM,CCTV_NUM,CAR_SHR_NUM,CAFE_NUM,BIKE_NUM,ANI_HSPT_NUM,ACADEMY_NUM,RETAIL_NUM,GU,DONG,DONG_CODE,BUS_CNT
0,0.333333,0.333333,0.0,1.000000,2.000000,4.333333,18816.000000,2.000000,0.0,1.000000,0.000000,0.000000,11.666667,3.0,0.0,0.000000,1.0,2.000000,0.0,4.000000,7.333333,56.666667,1.000000,39.666667,5.666667,2.000000,18.000000,0.000000,종로구,청운효자동,1111051500,14.0
1,1.333333,7.333333,0.0,0.000000,3.000000,17.333333,22848.000000,0.000000,0.0,1.000000,10.000000,0.000000,74.666667,0.0,18.0,3.000000,0.0,2.000000,0.0,20.000000,10.333333,41.666667,5.000000,100.666667,11.666667,1.000000,19.000000,2.000000,종로구,사직동,1111053000,16.0
2,1.000000,1.000000,1.0,0.000000,1.000000,2.000000,14112.000000,1.000000,0.0,0.000000,10.000000,0.000000,7.000000,1.0,3.0,0.000000,0.0,0.000000,0.0,2.000000,1.000000,22.000000,1.000000,52.000000,7.000000,0.000000,2.000000,0.000000,종로구,삼청동,1111054000,11.0
3,0.000000,0.000000,0.0,0.000000,1.000000,1.000000,6048.000000,1.000000,0.0,0.000000,0.000000,0.000000,4.000000,1.0,2.0,2.000000,1.0,4.000000,0.0,8.000000,5.000000,41.000000,5.000000,30.000000,5.000000,3.000000,24.000000,0.000000,종로구,부암동,1111055000,9.0
4,0.000000,1.000000,0.0,0.000000,1.000000,5.000000,4032.000000,0.000000,0.0,0.000000,0.000000,0.000000,14.000000,1.0,5.0,5.000000,0.0,0.000000,0.0,6.000000,10.000000,21.000000,0.000000,36.000000,7.000000,0.000000,28.000000,0.000000,종로구,평창동,1111056000,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,0.333333,1.333333,0.0,0.666667,0.333333,12.666667,1442.333333,0.333333,0.0,1.666667,16.666667,0.666667,60.000000,0.0,10.0,4.666667,1.0,1.333333,0.0,38.666667,4.000000,52.000000,6.666667,47.666667,6.000000,2.666667,63.333333,3.333333,강동구,성내2동,1174065000,11.0
422,0.333333,1.333333,0.0,0.666667,0.333333,12.666667,1442.333333,0.333333,0.0,1.666667,16.666667,0.666667,60.000000,0.0,10.0,4.666667,1.0,1.333333,0.0,38.666667,4.000000,52.000000,6.666667,47.666667,6.000000,2.666667,63.333333,3.333333,강동구,성내3동,1174066000,9.0
423,1.000000,2.000000,0.0,1.000000,0.000000,35.000000,4327.000000,1.000000,0.0,3.000000,20.000000,1.000000,120.000000,0.0,18.0,9.000000,1.0,6.000000,0.0,76.000000,10.000000,119.000000,10.000000,63.000000,9.000000,8.000000,100.000000,8.000000,강동구,길동,1174068500,28.0
424,0.500000,0.000000,0.0,0.000000,1.000000,10.000000,2163.500000,1.500000,0.5,0.000000,0.000000,0.000000,14.500000,1.0,4.0,3.000000,0.0,2.000000,0.0,17.000000,0.000000,32.500000,2.000000,17.500000,5.500000,1.500000,38.000000,0.000000,강동구,둔촌1동,1174069000,4.0
425,0.500000,0.000000,0.0,0.000000,1.000000,10.000000,2163.500000,1.500000,0.5,0.000000,0.000000,0.000000,14.500000,1.0,4.0,3.000000,0.0,2.000000,0.0,17.000000,0.000000,32.500000,2.000000,17.500000,5.500000,1.500000,38.000000,0.000000,강동구,둔촌2동,1174070000,20.0

In [28]:
final_df['RETAIL_NUM']

0      0.000000
1      2.000000
2      0.000000
3      0.000000
4      0.000000
         ...
421    3.333333
422    3.333333
423    8.000000
424    0.000000
425    0.000000
Name: RETAIL_NUM, Length: 426, dtype: float64

In [22]:
tmp_df = pd.read_csv('성형외과제거_및_버스수정_행정동_변환_1101.csv')
pd.set_option('display.max_columns',35)
# tmp_df
tmp_df.rename(columns={'Unnamed: 0':'index'},inplace=True)
tmp_df.set_index('index',inplace=True)

In [23]:
tmp_df

,SUBWAY_NUM,STARBUCKS_NUM,SPORT_NUM,SAFE_DLVR_NUM,POLICE_NUM,PHARM_NUM,NOISE_VIBRATION_NUM,MID_SCH_NUM,MC_NUM,LEISURE_NUM,KINDER_NUM,KIDS_NUM,HIGH_SCH_NUM,GYM_NUM,GOLF_NUM,FIRE_NUM,ELE_SCH_NUM,DPTM_NUM,CON_NUM,CHILD_MED_NUM,CCTV_NUM,CAR_SHR_NUM,CAFE_NUM,BIKE_NUM,ANI_HSPT_NUM,ACADEMY_NUM,HOSPITAL_NUM,GU,DONG,DONG_CODE,BUS_CNT
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0.333333,0.333333,0.0,1.000000,2.000000,4.333333,18816.000000,2.000000,0.0,1.000000,0.000000,0.000000,3.0,0.0,0.000000,1.0,2.000000,0.0,4.000000,7.333333,56.666667,1.000000,39.666667,5.666667,2.000000,18.000000,11.666667,종로구,청운효자동,1111051500,14.0
1,1.333333,7.333333,0.0,0.000000,3.000000,17.333333,22848.000000,0.000000,0.0,1.000000,10.000000,0.000000,0.0,18.0,3.000000,0.0,2.000000,0.0,20.000000,10.333333,41.666667,5.000000,100.666667,11.666667,1.000000,19.000000,74.666667,종로구,사직동,1111053000,16.0
2,1.000000,1.000000,1.0,0.000000,1.000000,2.000000,14112.000000,1.000000,0.0,0.000000,10.000000,0.000000,1.0,3.0,0.000000,0.0,0.000000,0.0,2.000000,1.000000,22.000000,1.000000,52.000000,7.000000,0.000000,2.000000,7.000000,종로구,삼청동,1111054000,11.0
3,0.000000,0.000000,0.0,0.000000,1.000000,1.000000,6048.000000,1.000000,0.0,0.000000,0.000000,0.000000,1.0,2.0,2.000000,1.0,4.000000,0.0,8.000000,5.000000,41.000000,5.000000,30.000000,5.000000,3.000000,24.000000,4.000000,종로구,부암동,1111055000,9.0
4,0.000000,1.000000,0.0,0.000000,1.000000,5.000000,4032.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.0,5.0,5.000000,0.0,0.000000,0.0,6.000000,10.000000,21.000000,0.000000,36.000000,7.000000,0.000000,28.000000,14.000000,종로구,평창동,1111056000,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,0.333333,1.333333,0.0,0.666667,0.333333,12.666667,1442.333333,0.333333,0.0,1.666667,16.666667,0.666667,0.0,10.0,4.666667,1.0,1.333333,0.0,38.666667,4.000000,52.000000,6.666667,47.666667,6.000000,2.666667,63.333333,59.333333,강동구,성내2동,1174065000,11.0
422,0.333333,1.333333,0.0,0.666667,0.333333,12.666667,1442.333333,0.333333,0.0,1.666667,16.666667,0.666667,0.0,10.0,4.666667,1.0,1.333333,0.0,38.666667,4.000000,52.000000,6.666667,47.666667,6.000000,2.666667,63.333333,59.333333,강동구,성내3동,1174066000,9.0
423,1.000000,2.000000,0.0,1.000000,0.000000,35.000000,4327.000000,1.000000,0.0,3.000000,20.000000,1.000000,0.0,18.0,9.000000,1.0,6.000000,0.0,76.000000,10.000000,119.000000,10.000000,63.000000,9.000000,8.000000,100.000000,120.000000,강동구,길동,1174068500,28.0
424,0.500000,0.000000,0.0,0.000000,1.000000,10.000000,2163.500000,1.500000,0.5,0.000000,0.000000,0.000000,1.0,4.0,3.000000,0.0,2.000000,0.0,17.000000,0.000000,32.500000,2.000000,17.500000,5.500000,1.500000,38.000000,14.500000,강동구,둔촌1동,1174069000,4.0
425,0.500000,0.000000,0.0,0.000000,1.000000,10.000000,2163.500000,1.500000,0.5,0.000000,0.000000,0.000000,1.0,4.0,3.000000,0.0,2.000000,0.0,17.000000,0.000000,32.500000,2.000000,17.500000,5.500000,1.500000,38.000000,14.500000,강동구,둔촌2동,1174070000,20.0

In [29]:
tmp_df['RETAIL_NUM'] = final_df['RETAIL_NUM']
tmp_df

,SUBWAY_NUM,STARBUCKS_NUM,SPORT_NUM,SAFE_DLVR_NUM,POLICE_NUM,PHARM_NUM,NOISE_VIBRATION_NUM,MID_SCH_NUM,MC_NUM,LEISURE_NUM,KINDER_NUM,KIDS_NUM,HIGH_SCH_NUM,GYM_NUM,GOLF_NUM,FIRE_NUM,ELE_SCH_NUM,DPTM_NUM,CON_NUM,CHILD_MED_NUM,CCTV_NUM,CAR_SHR_NUM,CAFE_NUM,BIKE_NUM,ANI_HSPT_NUM,ACADEMY_NUM,HOSPITAL_NUM,GU,DONG,DONG_CODE,BUS_CNT,RETAIL_NUM
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0.333333,0.333333,0.0,1.000000,2.000000,4.333333,18816.000000,2.000000,0.0,1.000000,0.000000,0.000000,3.0,0.0,0.000000,1.0,2.000000,0.0,4.000000,7.333333,56.666667,1.000000,39.666667,5.666667,2.000000,18.000000,11.666667,종로구,청운효자동,1111051500,14.0,0.000000
1,1.333333,7.333333,0.0,0.000000,3.000000,17.333333,22848.000000,0.000000,0.0,1.000000,10.000000,0.000000,0.0,18.0,3.000000,0.0,2.000000,0.0,20.000000,10.333333,41.666667,5.000000,100.666667,11.666667,1.000000,19.000000,74.666667,종로구,사직동,1111053000,16.0,2.000000
2,1.000000,1.000000,1.0,0.000000,1.000000,2.000000,14112.000000,1.000000,0.0,0.000000,10.000000,0.000000,1.0,3.0,0.000000,0.0,0.000000,0.0,2.000000,1.000000,22.000000,1.000000,52.000000,7.000000,0.000000,2.000000,7.000000,종로구,삼청동,1111054000,11.0,0.000000
3,0.000000,0.000000,0.0,0.000000,1.000000,1.000000,6048.000000,1.000000,0.0,0.000000,0.000000,0.000000,1.0,2.0,2.000000,1.0,4.000000,0.0,8.000000,5.000000,41.000000,5.000000,30.000000,5.000000,3.000000,24.000000,4.000000,종로구,부암동,1111055000,9.0,0.000000
4,0.000000,1.000000,0.0,0.000000,1.000000,5.000000,4032.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.0,5.0,5.000000,0.0,0.000000,0.0,6.000000,10.000000,21.000000,0.000000,36.000000,7.000000,0.000000,28.000000,14.000000,종로구,평창동,1111056000,37.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,0.333333,1.333333,0.0,0.666667,0.333333,12.666667,1442.333333,0.333333,0.0,1.666667,16.666667,0.666667,0.0,10.0,4.666667,1.0,1.333333,0.0,38.666667,4.000000,52.000000,6.666667,47.666667,6.000000,2.666667,63.333333,59.333333,강동구,성내2동,1174065000,11.0,3.333333
422,0.333333,1.333333,0.0,0.666667,0.333333,12.666667,1442.333333,0.333333,0.0,1.666667,16.666667,0.666667,0.0,10.0,4.666667,1.0,1.333333,0.0,38.666667,4.000000,52.000000,6.666667,47.666667,6.000000,2.666667,63.333333,59.333333,강동구,성내3동,1174066000,9.0,3.333333
423,1.000000,2.000000,0.0,1.000000,0.000000,35.000000,4327.000000,1.000000,0.0,3.000000,20.000000,1.000000,0.0,18.0,9.000000,1.0,6.000000,0.0,76.000000,10.000000,119.000000,10.000000,63.000000,9.000000,8.000000,100.000000,120.000000,강동구,길동,1174068500,28.0,8.000000
424,0.500000,0.000000,0.0,0.000000,1.000000,10.000000,2163.500000,1.500000,0.5,0.000000,0.000000,0.000000,1.0,4.0,3.000000,0.0,2.000000,0.0,17.000000,0.000000,32.500000,2.000000,17.500000,5.500000,1.500000,38.000000,14.500000,강동구,둔촌1동,1174069000,4.0,0.000000
425,0.500000,0.000000,0.0,0.000000,1.000000,10.000000,2163.500000,1.500000,0.5,0.000000,0.000000,0.000000,1.0,4.0,3.000000,0.0,2.000000,0.0,17.000000,0.000000,32.500000,2.000000,17.500000,5.500000,1.500000,38.000000,14.500000,강동구,둔촌2동,1174070000,20.0,0.000000

In [30]:
tmp = tmp_df[['RETAIL_NUM']]
tmp

       RETAIL_NUM
index
0        0.000000
1        2.000000
2        0.000000
3        0.000000
4        0.000000
...           ...
421      3.333333
422      3.333333
423      8.000000
424      0.000000
425      0.000000

[426 rows x 1 columns]

In [31]:
tmp.to_csv('1101_대형마트.csv',mode='w')