In [62]:
import pandas as pd

In [77]:
ad_dong_df = pd.read_csv("행정동_컬럼추가_최종ver.csv",index_col=0)
ad_dong_df.rename(columns={"인구수" : "MZ_POP_CNT"},inplace=True)
ad_dong_code = ad_dong_df.iloc[:,:3]
ad_dong_code['GU_DONG'] = ad_dong_code['GU'] + ad_dong_code['DONG']
ad_dong_code.to_excel("1103_dong_code.xlsx")

In [64]:
dong_loc = pd.read_excel("서울시행정동좌표.xlsx")
dong_loc['GU_DONG'] = dong_loc['gu'] + dong_loc['dong']
dong_loc.drop(["sido",'gu','dong','code'],axis=1,inplace=True)

In [65]:
merge_df = pd.merge(ad_dong_code, dong_loc, on="GU_DONG")
set(ad_dong_code['GU_DONG'].values) - set(merge_df['GU_DONG'].values)

{'강동구상일1동', '강동구상일2동', '구로구항동'}

In [71]:
ad_dong_code[ad_dong_code['GU_DONG']=='구로구항동']

      GU DONG   DONG_CODE GU_DONG
275  구로구   항동  1153080000   구로구항동

In [73]:
dong_loc[dong_loc['GU_DONG']=='']

Empty DataFrame
Columns: [lat, lng, GU_DONG]
Index: []

In [69]:
merge_df.drop("DONG_CODE",axis=1,inplace=True)

In [72]:
rem_df  = pd.DataFrame("GU" : ['강동구','강동구','구로구'],
                      "DONG" : ['상일1동','상일2동','항동'],
                      "DONG_CODE" : ['1174052500','1174052600','1153080000'],
                       "lat" : ['37.550583','37.550583',],
                       "lng" : ["127.168797","127.168797"]
                      )

SyntaxError: invalid syntax (2414609575.py, line 1)

In [74]:
import numpy as np
import pandas as pd
import json
import folium

In [76]:
geo_path = ("dong.json")
geo_str = json.load(open(geo_path, encoding="utf-8"))

In [ ]:
seoul_map = folium.Map(location=[37.5502, 126.982], zoom_start = 10)

folium.Choropleth(
    geo_data = geo_str,
    data = greenery,
    columns = ["자치구", "녹지면적"],
    fill_color = "Blues",
    key_on = "properties.name"
).add_to(seoul_map)

seoul_map