## Mean Shift 군집화

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.datasets import make_blobs
from sklearn.cluster import estimate_bandwidth
from sklearn.cluster import MeanShift
from sklearn.metrics import silhouette_samples, silhouette_score

In [2]:
tmp_df = pd.read_csv('tmp_data.csv', index_col=0)

tmp_df

             A         B         C         D
사직동   0.756808  0.837151  0.367741  0.856218
삼청동   0.827742  0.304679  0.923518  0.000679
부암동   0.568917  0.924518  0.056251  0.260088
평창동   0.580705  0.584580  0.844815  0.060866
무악동   0.139818  0.303443  0.598331  0.312935
...        ...       ...       ...       ...
성내3동  0.080882  0.473552  0.109079  0.319963
둔촌1동  0.879560  0.419096  0.563044  0.629431
둔촌2동  0.984323  0.984479  0.826605  0.679809
상일1동  0.479461  0.830551  0.686072  0.301943
상일2동  0.115110  0.631008  0.212660  0.261508

[426 rows x 4 columns]

In [3]:
tmp_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 426 entries, 사직동 to 상일2동
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       426 non-null    float64
 1   B       426 non-null    float64
 2   C       426 non-null    float64
 3   D       426 non-null    float64
dtypes: float64(4)
memory usage: 16.6+ KB

In [4]:
type(tmp_df)

pandas.core.frame.DataFrame

In [5]:
import numpy as np 
t_array = tmp_df.to_numpy()

In [6]:
# 클러스터가 3인 데이터 생성
# X,y = make_blobs(n_samples=200, n_features=2, centers=3, 
#                  cluster_std=0.8, random_state=0)

# meanshift를 수행하는데 bandwidth=0.37로 세팅
meanshift= MeanShift(bandwidth=0.37)
cluster_labels = meanshift.fit_predict(t_array)
print('cluster labels 유형:', np.unique(cluster_labels))

cluster labels 유형: [0 1 2 3 4 5 6 7 8 9]

In [71]:
from sklearn.cluster import estimate_bandwidth

bandwidth = estimate_bandwidth(t_array, quantile=0.25) # quantile: meanshift의 샘플링 비율
print('최적의 bandwidth 값:', round(bandwidth,3))

최적의 bandwidth 값: 0.617

In [10]:
clusterDF = pd.DataFrame(data=t_array, columns=['A','B','C','D'])
clusterDF['target'] = cluster_labels
clusterDF
# # estimate_bandwidth()로 최적의 bandwidth 계산
# best_bandwidth = estimate_bandwidth(t_array, quantile=0.25)

# meanshift = MeanShift(best_bandwidth)
# cluster_labels = meanshift.fit_predict(t_array)
# print('cluster labels 유형:',np.unique(cluster_labels))

            A         B         C         D  target
0    0.756808  0.837151  0.367741  0.856218       5
1    0.827742  0.304679  0.923518  0.000679       1
2    0.568917  0.924518  0.056251  0.260088       0
3    0.580705  0.584580  0.844815  0.060866       0
4    0.139818  0.303443  0.598331  0.312935       6
..        ...       ...       ...       ...     ...
421  0.080882  0.473552  0.109079  0.319963       4
422  0.879560  0.419096  0.563044  0.629431       2
423  0.984323  0.984479  0.826605  0.679809       3
424  0.479461  0.830551  0.686072  0.301943       0
425  0.115110  0.631008  0.212660  0.261508       4

[426 rows x 5 columns]

In [21]:
data = tmp_df
score_samples = silhouette_samples(data, clusterDF['target'])
clusterDF['silhouette_coeff']=score_samples

print()

average_score = silhouette_score(data, clusterDF['target'])
print('Silhouette Analysis Score:{0:.3f}'.format(average_score))

Silhouette Analysis Score:0.183

In [22]:
clusterDF.groupby('target')['silhouette_coeff'].mean()

target
0    0.191687
1    0.248753
2    0.160168
3    0.210818
4    0.168524
5    0.121070
6    0.207531
7    0.209604
8    0.103418
9    0.262033
Name: silhouette_coeff, dtype: float64

In [23]:
tmp_df = pd.read_csv('tmp_data.csv', index_col=0)
data = tmp_df

In [24]:
meanshift= MeanShift(bandwidth=0.37)
cluster_labels = meanshift.fit_predict(t_array)

In [25]:
meanshift.labels_

array([5, 1, 0, 0, 6, 8, 5, 2, 7, 5, 6, 5, 3, 5, 4, 0, 7, 0, 5, 5, 1, 5,
       1, 1, 5, 0, 0, 4, 3, 0, 3, 0, 0, 5, 6, 7, 3, 5, 8, 9, 6, 0, 0, 7,
       1, 7, 9, 5, 0, 4, 1, 2, 3, 1, 8, 0, 5, 4, 8, 0, 2, 1, 8, 6, 7, 4,
       0, 2, 3, 9, 3, 7, 2, 4, 9, 5, 0, 8, 0, 5, 8, 5, 8, 5, 4, 2, 4, 1,
       6, 1, 8, 1, 9, 5, 7, 6, 0, 4, 1, 8, 6, 8, 7, 9, 1, 1, 5, 2, 2, 4,
       5, 2, 4, 5, 5, 8, 3, 5, 6, 2, 2, 0, 0, 1, 3, 0, 8, 6, 7, 8, 3, 4,
       6, 5, 4, 4, 7, 3, 5, 2, 0, 5, 5, 0, 0, 2, 1, 0, 2, 1, 6, 2, 2, 1,
       4, 5, 4, 0, 6, 0, 5, 1, 5, 0, 4, 3, 8, 4, 2, 1, 1, 2, 3, 4, 1, 6,
       5, 2, 2, 5, 1, 3, 9, 7, 4, 2, 6, 4, 6, 0, 7, 0, 7, 8, 3, 0, 8, 8,
       2, 5, 3, 1, 9, 8, 8, 4, 6, 0, 6, 4, 4, 1, 0, 7, 4, 6, 8, 7, 6, 5,
       9, 1, 1, 9, 1, 9, 8, 7, 9, 6, 1, 0, 0, 2, 0, 1, 5, 0, 8, 9, 0, 6,
       5, 1, 9, 8, 1, 5, 1, 4, 4, 9, 0, 8, 0, 4, 0, 0, 9, 5, 7, 2, 8, 1,
       5, 0, 2, 5, 2, 0, 0, 6, 9, 0, 4, 9, 6, 1, 2, 1, 2, 3, 6, 2, 1, 3,
       4, 9, 5, 5, 9, 4, 6, 4, 0, 6, 5, 7, 1, 8, 8, 2, 8, 8, 8, 2, 0, 6,
       0, 0, 2, 7, 7, 7, 0, 0, 4, 4, 4, 5, 0, 8, 5, 7, 3, 4, 6, 3, 6, 3,
       2, 0, 8, 7, 8, 8, 7, 3, 9, 7, 8, 9, 2, 3, 7, 0, 0, 5, 5, 1, 2, 6,
       7, 7, 0, 3, 6, 0, 6, 8, 1, 0, 0, 8, 0, 9, 1, 4, 0, 5, 6, 3, 7, 7,
       5, 4, 5, 0, 6, 0, 9, 2, 7, 5, 5, 5, 6, 2, 3, 2, 3, 6, 4, 0, 0, 6,
       1, 1, 8, 1, 3, 8, 3, 5, 6, 6, 7, 0, 5, 1, 2, 1, 3, 4, 6, 0, 5, 6,
       4, 4, 2, 4, 2, 3, 0, 4], dtype=int64)

In [27]:
clusterDF['target'] = meanshift.labels_

In [28]:
clusterDF.groupby('target').count()

         A   B   C   D  meanshift_label  silhouette_coeff
target
0       69  69  69  69               69                69
1       46  46  46  46               46                46
2       41  41  41  41               41                41
3       31  31  31  31               31                31
4       44  44  44  44               44                44
5       56  56  56  56               56                56
6       42  42  42  42               42                42
7       33  33  33  33               33                33
8       40  40  40  40               40                40
9       24  24  24  24               24                24

In [30]:
score_samples = silhouette_samples(data, clusterDF['target'])
tmp_df['silhouette_coeff']=score_samples

print()

average_score = silhouette_score(data, clusterDF['target'])
print('Silhouette Analysis Score:{0:.3f}'.format(average_score))

Silhouette Analysis Score:0.183