In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Leisure_in_Seoul.csv')
pd.set_option('display.max_columns',len(df.columns))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     522 non-null    int64
 1   cate_nm        522 non-null    object
 2   entrp_nm       522 non-null    object
 3   load_addr      522 non-null    object
 4   city_do_cd     522 non-null    float64
 5   city_gn_gu_cd  522 non-null    float64
 6   xpos_lo        517 non-null    float64
 7   ypos_la        517 non-null    float64
 8   area_nm        522 non-null    object
 9   homepage_url   156 non-null    object
 10  tel_no         172 non-null    object
 11  base_ymd       522 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 49.1+ KB

In [3]:
df.head()

,Unnamed: 0,cate_nm,entrp_nm,load_addr,city_do_cd,city_gn_gu_cd,xpos_lo,ypos_la,area_nm,homepage_url,tel_no,base_ymd
0,2541,볼링장,라인볼링장,서울특별시 강남구 강남대로 308 랜드마크타워 지하2층,11.0,11680.0,127.031739,37.490641,서울,_,02-555-4199,2020-12-31
1,2542,VR테마파크,VR스테이션,서울특별시 강남구 강남대로 364 미왕빌딩 지하1층~3층,11.0,11680.0,127.029335,37.495559,서울,"http://h-vrstation.com, http://www.instagram.c...",1877-8870,2020-12-31
2,2543,오락실,못된 강아지,서울특별시 강남구 강남대로102길 15 1층 (역삼동),11.0,11680.0,127.026998,37.502225,서울,NaN,NaN,2020-12-31
3,2544,VR테마파크,BAD VR 논현점,서울특별시 강남구 강남대로118길 15,11.0,11680.0,127.024710,37.506793,서울,https://blog.naver.com/jaemigym,02-6952-0313,2020-12-31
4,2545,VR테마파크,콩 VR 강남역점,서울특별시 강남구 강남대로94길 10 케이스퀘어강남 지하1층 콩VR,11.0,11680.0,127.028202,37.499208,서울,"http://kong-vr.com, http://www.instagram.com/k...",070-4231-5445,2020-12-31

In [4]:
df['cate_nm'].value_counts()

오락실       347
볼링장       114
VR테마파크     56
수영장         5
Name: cate_nm, dtype: int64

In [10]:
df['city_gn_gu_cd'].describe()

count      522.000000
mean     11437.528736
std        178.827553
min      11110.000000
25%      11290.000000
50%      11440.000000
75%      11590.000000
max      11740.000000
Name: city_gn_gu_cd, dtype: float64

In [11]:
df['city_gn_gu_cd'].unique()

array([11680., 11740., 11305., 11500., 11620., 11215., 11530., 11545.,
       11350., 11320., 11230., 11590., 11440., 11410., 11650., 11200.,
       11290., 11710., 11470., 11560., 11170., 11380., 11110., 11140.,
       11260.])